{% extends parent_template|default:"base.html" %}

{% block title %}
    {{ block.super }} - Posts
{% endblock %}
{% load static %}
{% block content %}
    <h2>Post List {{ year }}</h2>
    <ul class="archive">
        {% for year in dates.reverse %}
            <li class="archive"><a href="{{ year.year }}">{{ year.year }}</a></li>
        {% endfor %}
    </ul>
    <HR>
    {% if post_list %}
        {% for post in post_list %}
            <ul>
                <li><a class='list-link' href="{{ post.get_absolute_url }}">

                        <section class="post-title">
                            <h3 class="title">{{ post.title|title }}</h3>
                            <p class="date">Written on: <time class = "date" datetime="{{ post.pub_date|date:'Y-m-d'">
                                {{ post.pub_date|date:"l, F j, Y"}}</time></p>
                        </section>
                        <p class="post-text">{{ post.text|truncatewords:20 }}</p>

                </a></li>
                <HR>
            </ul>
        {% endfor %}
        <br>
        <div class="page-id">
            {% if post_list.has_other_pages %}
                {% if post_list.has_previous %}
                    <a href="?page={{ post_list.previous_page_number }}"><img src="{% static 'icons/icons8-previous-page-64.png' %}"></a>
                {% endif %}
                <p>Page {{ post_list.number }} of {{ paginator.num_pages }}</p>
                {% if post_list.has_next %}
                    <a href="?page={{ post_list.next_page_number }}"><img src="{% static 'icons/icons8-next-page-64.png' %}"></a>
                {% endif %}
            {% endif %}
        </div>
    {% else %}
        <p>There is no posts here<br>
    {% endif %}
    {% if 'blog.add_post' in user.get_user_permissions %}
        <a href="{% url 'blog_post_create' %}">Add Post</a>
    {% endif %}
{% endblock %}
