{% extends parent_template|default:"base.html" %}

{% block title %}
{{ block.super }} - News Link Create
{% endblock %}

{% block content %}
    <h2>New Article</h2>
    <HR>
    <form action="{% url 'organizer_newslink_create' %}" method="POST">
        {% csrf_token %}
            <table>
                {% for field in form %}
                    <tr>
                        <th class="label">{{ field.label_tag }}</th>
                        <th class="input">{{ field }}</th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            {{ field.errors }}
                        </th>
                    </tr>
                {% endfor %}
                <tr>
                    <th colspan="2">
                        <button class='button' type="submit">
                            Link Article
                        </button>
                    </th>
                </tr>
            </table>
    </form>
{% endblock %}