{% extends parent_template|default:"base.html" %}

{% block title %}
    {{ block.super }} - Startups
{% endblock %}
{% load static %}
{% block content %}
    <h2>Startup List</h2>
    <HR>
    {% if startup_list %}
        <ul>
            {% for startup in startup_list %}
            <li><a class='list-link' href="{{ startup.get_absolute_url }}">
                <div>
                    <h3>{{ startup.name }}</h3>
                    <p>{{ startup.description|truncatewords:20 }}</p>
                </div>
            </a></li>
            <HR>
            {% endfor %}
        </ul>
        <br>
        <div class="page-id">
            {% if startup_list.has_other_pages %}
                {% if startup_list.has_previous %}
                    <a href="?page={{ startup_list.previous_page_number }}"><img src="{% static 'icons/icons8-previous-page-64.png' %}"></a>
                {% endif %}
                <p>Page {{ startup_list.number }} of {{ paginator.num_pages }}</p>
                {% if startup_list.has_next %}
                    <a href="?page={{ startup_list.next_page_number }}"><img src="{% static 'icons/icons8-next-page-64.png' %}"></a>
                {% endif %}
            {% endif %}
        </div>
        <a href="{% url 'organizer_startup_create' %}">Create new Startup</a>
    {% else %}
        <p>There is no startups here<br>
        <a href="">Register your own startup!</a></p>
    {% endif %}
{% endblock %}