{% extends parent_template|default:"base.html" %}

{% block title %}
    {{ block.super }} - {{ startup.name }}
{% endblock %}
{% load obfuscate_email %}
{% load partial_post_list %}
{% block content %}
    <article>
        <h2>{{ startup.name }}</h2>
        <dl>
            <dt class="startup-data-label">Date founded:</dt>
                <dd class="startup-data">{{ startup.found_date|date:"F jS, Y" }}</dd>
            <dt class="startup-data-label">Founder:</dt>
                <dd class="startup-data"><a href="{{ startup.owner.profile.get_absolute_url }}">{{ startup.owner.get_username }}</a></dd>
            <dt class="startup-data-label">Website:</dt>
                <dd class="startup-data"><a href="{{ startup.website }}">{{ startup.website }}</a></dd>
            <dt class="startup-data-label">Contact:</dt>
                <dd class="startup-data">{{ startup.email|obfuscate }}</dd>
            <dt class="startup-data-label">Feeds:</dt>
                <dd class="startup-data"><a href="{{ startup.get_feed_atom_url }}">Atom</a></dd>
                <dd class="startup-data"><a href="{{ startup.get_feed_rss_url }}">RSS</a></dd>

            {% with tag_list=startup.tags.all %}
                <dt class="startup-data-label">Tag{{ tag_list|pluralize }}:</dt>
                    <dd class="startup-data">
                        {% for tag in tag_list %}
                            <a class="tags" href="{{ tag.get_absolute_url }}">{{ tag.name|title }}</a>
                        {% endfor %}
                    </dd>
            {% endwith %}
            <dt> </dt>
        </dl>
        <HR>
        <h3>Description</h3>
        <p>{{ startup.description|linebreaks }}</p>
        <HR>
        <section>
            {% with newslink_list=startup.newslink_set.all %}
                <h3>Recent News</h3>
                {% if newslink_list %}
                    <ul>
                        {% for newslink in newslink_list %}
                            <li><a href="{{ newslink.link_to_article }}">{{ newslink.title|title }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>There in no news from startup</p>
                {% endif %}
                {% if perms.change_startup %}
                    <a href="{% url 'organizer_newslink_create' %}">Add Article</a>
                {% endif %}
            {% endwith %}
        </section>
        <HR>
        <section>
            {% with post_list=startup.blog_posts.all %}
                <h3>Blog post{{ post_list|pluralize }}</h3>
                {% if post_list %}
                    {% format_post_list post_list %}
                {% else %}
                    <p>There is no posts about {{ startup.name }}<br>
                {% endif %}
            {% endwith %}
        </section>
    </article>
    <HR>
    <div id="overlay">
        <div>
            <table id="pop-up">
                <tr>
                    <th colspan="2">
                        <p id="pop-up-text">Are you sure you want to delete your startup?</p>
                    </th>
                </tr>
                <tr>
                    <form  action="{{ startup.get_delete_url }}" method="POST">
                        {% csrf_token %}
                        <th><button id="pop-up-but2" class="button" type="submit">Delete</button></th>
                        <th><button id="pop-up-but1" class="button" type="button" onclick="overlay()">Cancel</button> </th>
                    </form>
                </tr>
            </table>
        </div>
    </div>
    {% if perms.change_startup %}
        <a href="{{ startup.get_update_url }}">Update</a>
    {% endif %}
    {% if perms.delete_startup %}
        <a class='delete-but' href="#" onclick="overlay()">Delete Startup</a>
    {% endif %}
{% endblock %}