<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="alternate" title='Blog News RSS' type='application/rss+xml' href="{% url 'blog_rss_feed' %}">
     <link rel="alternate" title='Blog News Atom' type='application/atom+xml' href="{% url 'blog_atom_feed' %}">
    <script src="{% static 'JavaScript/main.js'%}"></script>
    <title>
        {% block title %}
            Startup Organizer
        {% endblock %}
    </title>
</head>
<body>
    <div>
        <header>
            <h1>Startup Organizer</h1>
            <HR>
        </header>
        <nav>
            <ul>
                <li class="nav"><a class="nav" href=""><img src="{% static 'icons/home.png' %}">Home</a></li>
                <li class="nav"><a class="nav" href="{% url 'organizer_startup_list' %}"><img src="{% static 'icons/rocket.png' %}">Startups</a></li>
                <li class="nav"><a class="nav" href="{% url 'organizer_tag_list' %}"><img src="{% static 'icons/tag.png' %}">Tags</a></li>
                <li class="nav"><a class="nav" href="{% url 'blog_post_list' %}"><img src="{% static 'icons/blog.png' %}">Blog</a></li>
                <li class="nav"><a class="nav" href="{% url 'contact' %}"><img src="{% static 'icons/email.png' %}">Contact Us</a></li>
                <li class="nav"><a class="nav" href="{% url 'about_site' %}"><img src="{% static 'icons/about.png' %}">About</a></li>
                <li class="nav">
                    <a class='nav' href="{% url 'user_profile' %}">
                    <div class="profile">
                        {% if user.is_authenticated %}
                            <p><img src="{% static 'icons/account.png' %}">{{ user.username }}</p>
                            <a href="{% url 'user_logout' %}">Log Out</a>
                        {% else %}
                            <p><img src="{% static 'icons/account.png' %}">Not Authorized</p>
                            <a href="{% url 'user_login' %}">Log in</a> or <a href="{% url 'user_create' %}">Register</a>
                        {% endif %}
                    </div>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="vl"></div>
        <main>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% block content %}
                Default content
            {% endblock %}
            <br><br>
            <br><br>
        </main>
    </div>
</body>
</html>
